html{
    font-family: sans-serif;
}
body{
    background-image: url("../images/background.jpg");
    background-size: cover;
}
form{
    display: flex;
}
.header{
    background-color: white;
    opacity: .75;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-search{
   margin-top: 10rem;
   display: flex;
   justify-content: center;
}
input{
    height:4rem;
    width:600px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline-color: gray;
    border-color: white;
    font-size: large;
    padding-left: 1rem;
}
.btn{
    height:4rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width:125px;
    margin-left:-5px;
    margin-bottom: 5px;
}
.results-container{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5rem;
    flex-wrap: wrap;
}
.player-card{
    background-color: white;
    border-radius: 10px;
    width:400px;
    margin: 30px 50px 0 50px;
}
.reset-button{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    margin-left: 3rem;
}
#year{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width:200px;
    outline-color: grey;
    border-color: none;
}